@import '_variables';
@import '_mixins';

body {
  @extend .body-text;
  font-family: $f-theme;
  line-height: 1.5;
  background: $c-white;
  color: $c-dark;
}

.fa {
  font-family: $f-icon;
  font-style: initial;
}

.fa-phone::before {
  content: '\e901';
}

.fa-clock::before {
  content: '\e902';
}

.fa-home::before {
  content: '\e903';
}

.fa-envelope::before {
  content: '\e904';
}

.fa-location::before {
  content: '\e947';
}

.img-cover {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    padding-bottom: 56.25%;
  }
}

.img-cover__wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: $transition;

  >img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.no-spacing {
  margin: 0;
  padding: 0;
}

.section {
  margin-top: 25px;

  @media (min-width: $breakpoints-md) {
    margin-top: 40px;
  }
}

.section-01 {
  margin-top: 20px;
}

.form-control {
  padding: 7px 10px;
  border-radius: $round;
  border: 1px solid $c-light;
  background: $c-white;
}


.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;

  .table {
    width: 100%;
    border-collapse: collapse;
  }
}

.over-body {
  position: fixed;
  z-index: 9990;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: $cl-15;
  transform: translate3d(100%, 0, 0);
  opacity: 0;
  pointer-events: none;
}

.slick-arrow {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  font-size: 0;
  background: transparent;
  border: none;
  color: $cl-07;
  outline: none;
  cursor: pointer;
  transition: $transition;

  &:hover {
    color: $c-blue;
  }

  &::after {
    content: '\e903';
    font-family: $f-icon;
    font-size: 55px;
  }

  &.slick-prev {
    left: -40px;
    transform: translateY(-50%) scale(-1);
  }

  &.slick-next {
    right: -40px;
  }
}

.slick-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    margin: 0 6px;

    &.slick-active,
    &:hover {
      button {
        background: $c-white;
      }
    }

    button {
      width: 12px;
      height: 12px;
      padding: 0;
      border-radius: 50%;
      font-size: 0;
      background: transparent;
      border: 1px solid $c-white;
      cursor: pointer;
      outline: none;
      transition: $transition;
    }
  }
}