@import '../variables';

.footer {
    background: $cl-09;
    color: $c-white;
    margin-top: 40px;
    padding-bottom: 30px;
    padding-top: 15px;
    @media (min-width: $breakpoints-lg) {
      padding-top: 0;
    }

    .block {
        padding-top: 15px;
        @media (min-width: $breakpoints-lg) {
          padding-top: 30px;
        }

        .title {
            @extend .big-text;
            margin: 0 0 15px 0;
            text-transform: uppercase;

            >a {
                color: $c-white;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .content {
            p {
                margin: 10px 0 0 0;
            }
        }
    }

    .block-images {
        >img {
            display: block;
        }
        @media (min-width: $breakpoints-md) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            >img {
                margin-left: 15px;
                
                &:nth-child(1) {
                    margin-left: 0;
                }
            }
        }
    }

    .group-btn {
        >.btn-app {
            margin-left: 15px;

            &:nth-child(1) {
                margin-left: 0;
            }
        }
    }
}