@import '../variables';

.c-register-lecturers {
    background: $cl-27;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: -40px;

    .headline {
        text-align: center;

        .title {
            @extend .title-text;
            margin: 0;
            text-transform: uppercase;
        }

        .text {
            @extend .big-text;
            margin-top: 15px;
            display: flex;
            justify-content: center;

            .inner {
                @media (min-width: $breakpoints-lg) {
                    width: 83.333333%;
                }
            }
        }
    }
    .form-wrapper {
        justify-content: center;
        justify-content: center;
        .form {
            
            .form-group {
                margin-top: 20px;
                .form-control {
                    width: 100%;
                    padding: 9px 10px;
                    border-radius: 0;
                    border: 1px solid $bc-01;
                }
                &.form-check {
                    display: flex;
                    align-items: center;
                    .form-check-label {
                        margin-left: 5px;
                    }
                }
                &.form-btn {
                    text-align: center;
                    .btn {
                        @extend .title-text;
                        width: 360px;
                        max-width: 100%;
                        color: $c-white;
                        text-transform: uppercase;
                        font-weight: 700;
                        background: $cl-04;
                        border-radius: 0;
                        border: 0;
                        padding: 10px 25px;
                        &:hover {
                            background: $c-blue;
                        }
                    }
                }
                .form-select__wrapper {
                    position: relative;
                }
                .ms-options-wrap>button {
                    width: 100%;
                    padding: 10px 10px;
                    border-radius: 0;
                    border: 1px solid $bc-01;
                }
            }
        }
    }
}