:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #868e96;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #868e96;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@import 'fonts';
@import 'reset';
@import 'slick';
@import 'ckeditor';
@import 'multiselect';
@import 'variables';
@import 'mixins';
@import 'layout';
@import 'typography';
@import 'wysiwyg';
@import 'buttons';
// header
@import './components/topBar';
@import './components/hero';

// main
@import './components/heroMini';
@import './components/why';
@import './components/courseGroup';
@import './components/lecturersGroup';
@import './components/newsSection';
@import './components/evaluation';
@import './components/library';
@import './components/breadcrumb';
@import './components/filter';
@import './components/lecturersDetail';
@import './components/slideout';
@import './components/featuredNews';
@import './components/reason';
@import './components/target';
@import './components/aboutLecturers';
@import './components/registerLecturers';

// left main
@import './components/navList';
@import './components/leftWhy';
@import './components/tags';
@import './components/detail';

// right main
@import'./components/carousel';
@import'./components/navigation';
@import'./components/courseInfo';
@import'./components/relatedCourses';
@import'./components/listLecturers';
@import'./components/newLetter';
@import'./components/follow';
@import'./components/newsBlock';


// footer
@import './components/footer';

// item
@import './components/itemCourse';
@import './components/itemLecturers';
@import './components/itemLecturers01';
@import './components/itemNew';
@import './components/itemEvaluation';
@import './components/itemNews';
@import './components/itemNews01';

// other
@import './components/user';

// manager lecturers
@import './managerLecturers/info';
@import './managerLecturers/list';
@import './managerLecturers/template';
@import './managerLecturers/detail';
@import './managerLecturers/file';
@import './managerLecturers/exam';
@import './managerLecturers/question';
@import './managerLecturers/managerQuestion';
@import './managerLecturers/questionNew';
@import './managerLecturers/user';
@import './managerLecturers/comments';

// pay
@import './pay/course';
@import './pay/pay';
@import './pay/notification';